path.shadow,
polygon.shadow,
ellipse.shadow {
  fill: #333333;
}
path.light-shadow,
polygon.light-shadow,
ellipse.light-shadow {
  fill: #555555;
}
path.base,
polygon.base,
ellipse.base {
  fill: #999999;
}
path.highlight,
polygon.highlight,
ellipse.highlight {
  fill: #eeeeee;
}
path.outline,
polygon.outline,
ellipse.outline {
  fill: #999999;
}
