/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*body {
	font-size: @fontNormal;
	font-family: @fontFamily;
	background: lighten(@darkGrey,10%);
	padding: 0px;
	margin: 0px;
	> nav, > header, > section, > footer {
		width: 100%;
		display: block;
		
		> div {
			padding: @gridMinor;
			margin: 0px auto;
			width: 960px;
		}
	}
	> nav > div{
		height: @gridMinor;
		background: @darkGrey;
	}
	> header {
		height: @gridMajor * 5;
		
		>div {
			background: @background;
		}
		h1 {
			font-size: @fontHuge; 
		}
		.cap {
			height: @gridMajor * 3;
			width: @gridMajor * 3;
			background: @darkGrey;
			position: relative;
			overflow: hidden;
			border-radius: 10px;
			float: left;
			&:after {
				content: "A";
				position: absolute;
				display: block;
				color: @background;
				font-size: 168px;
				top: -38px;
				left: 4px;
				font-family: @fontBold;
				
			}
		}
	}
	> section {
		color: @background;
		&.primary > div {
			background: @mcPrimary;
		}
		&.secondaryA > div {
			background: @mcSecondaryA;
		}
		&.secondaryB > div {
			background: @mcSecondaryB;
		}
		&.complimentary > div {
			background: @mcComplimentary;
		}
	}
	> footer > div {
		background: @darkGrey;
	}
}*/
body {
  overflow-x: hidden;
}
.techno-logos {
  width: 160px;
  display: block;
  position: relative;
  left: 50%;
  margin-left: -80px;
  margin-top: 20px;
}
.techno-logos .logo {
  width: 75px;
  height: 75px;
  padding: 5px;
}
.logo {
  text-align: center;
}
.rubrix-logo {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 125px;
  height: 145px;
  padding-top: 12px;
  padding-left: 20px;
  left: 50%;
  margin-top: 40px;
  margin-left: -62px;
}
.rubrix-logo .square {
  width: 80px;
  height: 80px;
  display: block;
  background: #494c43;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  overflow: hidden;
  position: absolute;
}
.rubrix-logo .square .r {
  color: #fff;
  top: -55px;
  left: 14px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  font-size: 10em;
  font-weight: bold;
}
.rubrix-logo .circle {
  background: #737376;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #fff;
  position: absolute;
  top: 36px;
  left: 0px;
}
.rubrix-logo .rubrix {
  font-weight: bold;
  font-size: 2.5em;
  position: absolute;
  top: 102px;
  left: 8px;
  letter-spacing: -2px;
}
.rubrix-logo .rubrix:after {
  content: "TM";
  position: absolute;
  left: 99px;
  font-size: 0.25em;
  letter-spacing: 0px;
  top: 15.5px;
  color: #737376;
}
.rubrix-logo .rubrix-i {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  background: #737376;
  top: 113px;
  left: 79px;
  display: block;
  z-index: 2;
  border: 1px solid white;
}
.navbar-fixed-top + .jumbotron {
  margin-top: 50px;
}
.technologies {
  text-align: center;
}
.technologies i {
  font-size: 30px;
}
.technologies .displays {
  position: relative;
  left: 50%;
  height: 33px;
}
.technologies .displays .center {
  width: 84px;
  display: block;
  position: absolute;
  left: -42px;
}
.technologies .displays i {
  position: absolute;
}
.technologies .displays i.desktop {
  font-size: 36px;
  left: 3px;
  top: 0px;
}
.technologies .displays i.mobile-phone {
  font-size: 38px;
  left: 27px;
  top: 5px;
}
.technologies .displays i.mobile-phone:after {
  content: " ";
  display: block;
  background: white;
  width: 12px;
  height: 16px;
  top: 11px;
  left: 2px;
  position: absolute;
}
.technologies .displays i.laptop {
  left: 35px;
  top: 1px;
  font-size: 40px;
}
.carousel div.item {
  height: 400px;
  background: #494c43;
}
.slider .slider-nav > div {
  display: block;
}
.slider .slider-nav .thumbnail {
  position: relative;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .slider .slider-nav .thumbnail {
    height: 340px;
  }
}
@media only screen and (min-width: 768px) {
  .slider article.row h3 {
    margin-top: 0px;
  }
}
.slider article.row div.visible-xs.pull-left {
  padding-left: 0px;
}
.slider article.row .breakdown {
  margin-top: 8px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .slider article.row .breakdown {
    display: none;
  }
}
.slider article.row .breakdown canvas {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -50px;
  margin-top: -12px;
}
.slider article.row .breakdown div {
  position: relative;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 76px;
  background: #a6a6a9;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.slider article.row .breakdown div i {
  margin-top: 12px;
  font-size: 2.8em;
  color: silver;
}
.slider article.row .breakdown div p {
  font-size: 14px;
  color: silver;
  margin-top: -5px;
}
.slider article.row .breakdown div p.php {
  margin-top: -2px;
  font-size: 12px;
}
.slider article.row .slide-back {
  color: #a6a6a9;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.slider article.row .slide-back:hover {
  cursor: pointer;
  color: #151613;
}
.slider article.row .caption.more {
  text-align: right;
}
@media only screen and (min-width: 992px) {
  .slider article.row .caption.more {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
.slider article.row.rubrix > div .thumbnail {
  margin-bottom: 10px;
}
#recent-work {
  background: silver;
}
#recent-work div.container {
  min-height: 1763px;
  max-height: 1763px;
  padding-bottom: 30px;
  -webkit-transition: 0.5s ease-in-out min-height 0s, 0.5s ease-in-out max-height 0s;
  -moz-transition: 0.5s ease-in-out min-height 0s, 0.5s ease-in-out max-height 0s;
  -o-transition: 0.5s ease-in-out min-height 0s, 0.5s ease-in-out max-height 0s;
  transition: 0.5s ease-in-out min-height 0s, 0.5s ease-in-out max-height 0s;
}
@media only screen and (min-width: 768px) {
  #recent-work div.container {
    min-height: 919px;
    max-height: 919px;
  }
}
@media only screen and (min-width: 992px) {
  #recent-work div.container {
    min-height: 467px;
    max-height: 467px;
  }
}
@media only screen and (min-width: 1200px) {
  #recent-work div.container {
    min-height: 474px;
    max-height: 474px;
  }
}
#recent-work div.container.slide {
  min-height: 0px;
  max-height: 2000px;
  -webkit-transition: 0.5s ease-in-out min-height 0.5s, 0.5s ease-in-out max-height 0.5s;
  -moz-transition: 0.5s ease-in-out min-height 0.5s, 0.5s ease-in-out max-height 0.5s;
  -o-transition: 0.5s ease-in-out min-height 0.5s, 0.5s ease-in-out max-height 0.5s;
  transition: 0.5s ease-in-out min-height 0.5s, 0.5s ease-in-out max-height 0.5s;
}
article.row {
  width: 100%;
  left: 0%;
  max-height: 1700px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0s linear max-height 0.5s, 0s linear width 0.5s, 0.5s ease-out opacity 1s, 0.5s ease-out left 1s;
  -moz-transition: 0s linear max-height 0.5s, 0s linear width 0.5s, 0.5s ease-out opacity 1s, 0.5s ease-out left 1s;
  -o-transition: 0s linear max-height 0.5s, 0s linear width 0.5s, 0.5s ease-out opacity 1s, 0.5s ease-out left 1s;
  transition: 0s linear max-height 0.5s, 0s linear width 0.5s, 0.5s ease-out opacity 1s, 0.5s ease-out left 1s;
}
article.row > div {
  float: left;
}
article.row.slide-left {
  left: -100%;
  opacity: 0;
  max-height: 0px;
  width: 0px;
  -webkit-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  -moz-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  -o-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
}
article.row.slide-right {
  left: 100%;
  opacity: 0;
  max-height: 0px;
  width: 0px;
  -webkit-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  -moz-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  -o-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
}
