/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*body {
	font-size: @fontNormal;
	font-family: @fontFamily;
	background: lighten(@darkGrey,10%);
	padding: 0px;
	margin: 0px;
	> nav, > header, > section, > footer {
		width: 100%;
		display: block;
		
		> div {
			padding: @gridMinor;
			margin: 0px auto;
			width: 960px;
		}
	}
	> nav > div{
		height: @gridMinor;
		background: @darkGrey;
	}
	> header {
		height: @gridMajor * 5;
		
		>div {
			background: @background;
		}
		h1 {
			font-size: @fontHuge; 
		}
		.cap {
			height: @gridMajor * 3;
			width: @gridMajor * 3;
			background: @darkGrey;
			position: relative;
			overflow: hidden;
			border-radius: 10px;
			float: left;
			&:after {
				content: "A";
				position: absolute;
				display: block;
				color: @background;
				font-size: 168px;
				top: -38px;
				left: 4px;
				font-family: @fontBold;
				
			}
		}
	}
	> section {
		color: @background;
		&.primary > div {
			background: @mcPrimary;
		}
		&.secondaryA > div {
			background: @mcSecondaryA;
		}
		&.secondaryB > div {
			background: @mcSecondaryB;
		}
		&.complimentary > div {
			background: @mcComplimentary;
		}
	}
	> footer > div {
		background: @darkGrey;
	}
}*/
.techno-logos {
  width: 160px;
  display: block;
  position: relative;
  left: 50%;
  margin-left: -80px;
  margin-top: 20px;
}
.techno-logos .logo {
  width: 75px;
  height: 75px;
  padding: 5px;
}
.logo {
  text-align: center;
}
.rubrix-logo {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 125px;
  height: 145px;
  padding-top: 12px;
  padding-left: 20px;
  left: 50%;
  margin-top: 40px;
  margin-left: -62px;
}
.rubrix-logo .square {
  width: 80px;
  height: 80px;
  display: block;
  background: #494c43;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  overflow: hidden;
  position: absolute;
}
.rubrix-logo .square .r {
  color: #fff;
  top: -55px;
  left: 14px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  font-size: 10em;
  font-weight: bold;
}
.rubrix-logo .circle {
  background: #737376;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #fff;
  position: absolute;
  top: 36px;
  left: 0px;
}
.rubrix-logo .rubrix {
  font-weight: bold;
  font-size: 2.5em;
  position: absolute;
  top: 102px;
  left: 8px;
  letter-spacing: -2px;
}
.rubrix-logo .rubrix:after {
  content: "TM";
  position: absolute;
  left: 99px;
  font-size: 0.25em;
  letter-spacing: 0px;
  top: 15.5px;
  color: #737376;
}
.rubrix-logo .rubrix-i {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  background: #737376;
  top: 113px;
  left: 79px;
  display: block;
  z-index: 2;
  border: 1px solid white;
}
.navbar-fixed-top + .jumbotron {
  margin-top: 50px;
}
.technologies {
  text-align: center;
}
.technologies i {
  font-size: 30px;
}
.technologies .displays {
  position: relative;
  left: 50%;
  height: 33px;
}
.technologies .displays .center {
  width: 84px;
  display: block;
  position: absolute;
  left: -42px;
}
.technologies .displays i {
  position: absolute;
}
.technologies .displays i.icon-desktop {
  font-size: 36px;
  left: 3px;
  top: 0px;
}
.technologies .displays i.icon-mobile-phone {
  font-size: 38px;
  left: 27px;
  top: 5px;
}
.technologies .displays i.icon-mobile-phone:after {
  content: " ";
  display: block;
  background: white;
  width: 12px;
  height: 16px;
  top: 11px;
  left: 2px;
  position: absolute;
}
.technologies .displays i.icon-laptop {
  left: 35px;
  top: 1px;
  font-size: 40px;
}
.carousel div.item {
  height: 400px;
  background: #494c43;
}
