@import "elements.less";
@import "variables.less";

// Colors

/*body {
	font-size: @fontNormal;
	font-family: @fontFamily;
	background: lighten(@darkGrey,10%);
	padding: 0px;
	margin: 0px;
	> nav, > header, > section, > footer {
		width: 100%;
		display: block;
		
		> div {
			padding: @gridMinor;
			margin: 0px auto;
			width: 960px;
		}
	}
	> nav > div{
		height: @gridMinor;
		background: @darkGrey;
	}
	> header {
		height: @gridMajor * 5;
		
		>div {
			background: @background;
		}
		h1 {
			font-size: @fontHuge; 
		}
		.cap {
			height: @gridMajor * 3;
			width: @gridMajor * 3;
			background: @darkGrey;
			position: relative;
			overflow: hidden;
			border-radius: 10px;
			float: left;
			&:after {
				content: "A";
				position: absolute;
				display: block;
				color: @background;
				font-size: 168px;
				top: -38px;
				left: 4px;
				font-family: @fontBold;
				
			}
		}
	}
	> section {
		color: @background;
		&.primary > div {
			background: @mcPrimary;
		}
		&.secondaryA > div {
			background: @mcSecondaryA;
		}
		&.secondaryB > div {
			background: @mcSecondaryB;
		}
		&.complimentary > div {
			background: @mcComplimentary;
		}
	}
	> footer > div {
		background: @darkGrey;
	}
}*/
body {
	overflow-x: hidden;
}
// Techno logos 
.techno-logos {
	width: 160px;
	display: block;
	position: relative;
	left: 50%;
	margin-left: -80px;
	margin-top: 20px;
	.logo {
		width: 75px;
		height: 75px;
		padding: 5px;
	}
}
// Rubrix Logo
.logo {
	text-align: center;
}
.rubrix-logo {
	font-family: @fontOpen;
	position: relative;
	width: 125px;
	height: 145px;
	padding-top: 12px;
	padding-left: 20px;
	left: 50%;
	margin-top: 40px;
	margin-left: -62px;
	.square {
		width: 80px;
		height: 80px;
		display: block;
		background: @darkGrey;
		.rotation(45deg);
		.rounded(14px);
		overflow: hidden;
		position: absolute;
		.r {
			color: #fff;
			top: -55px;
			left: 14px;
			.rotation(-45deg);
			position: absolute;
			font-size: 10em;
			font-weight: bold;
		}
	}
	.circle {
		background: @mediumGrey;
		width: 30px;
		height: 30px;
		.rounded(30px);
		border: 3px solid #fff;
		position: absolute;
		top: 36px;
		left: 0px;
	}
	.rubrix {
		font-weight: bold;
		font-size: 2.5em;
		position: absolute;
		top: 102px;
		left: 8px;
		letter-spacing: -2px;
		&:after {
			content: "TM";
			position: absolute;
			left: 99px;
			font-size: 0.25em;
			letter-spacing: 0px;
			top: 15.5px;
			color: @mediumGrey;
			
		}
	}
	.rubrix-i {
		width: 7px;
		height: 7px;
		.rounded(7px);
		position:absolute;
		background: @mediumGrey;
		top: 113px;
		left: 79px;
		display: block;
		z-index: 2;
		border: 1px solid white;
	}
}


// Bootstrap stusff
.navbar-fixed-top + .jumbotron {
	margin-top: 50px;
}
.technologies {
	text-align: center;
	i {
		font-size: 30px;
	}
	.displays {
		position: relative;
		left: 50%;
		height: 33px;
		.center {
			width: 84px;
			display: block;
			position: absolute;
			left: -42px;
		}
		i {
			position: absolute;
			&.desktop {
				font-size: 36px;
				left: 3px;
				top: 0px;
			}
			&.mobile-phone {
				font-size: 38px;
				left: 27px;
				top: 5px;
				&:after {
					content: " ";
					display: block;
					background: white;
					width: 12px;
					height: 16px;
					top: 11px;
					left: 2px;
					position: absolute;
				}
			}
			&.laptop {
				left: 35px;
				top: 1px;
				font-size: 40px;
			}
		}
	}
}
.carousel {
	div.item {
		height: 400px;
		background: @darkGrey;
	}
}
// Slider container
@duration: 0.5s;
.slider {
	.slider-nav {
		> div {
			display: block;
		}
		.thumbnail {
			position: relative;
			.transitionMultiple(none);
			@media only screen and (min-width: 992px) {
				height: 340px;
			}
			margin-bottom: 30px;
		}
	}
	div.container {
		min-height: 1763px; max-height: 1763px;
		padding-bottom: 30px;
		.transitionMultiple(@duration ease-in-out min-height 0s,
							@duration ease-in-out max-height 0s;);

		@media only screen and (min-width : 768px) { 
			min-height: 919px; max-height: 919px; 
		}
		@media only screen and (min-width : 992px) { 
			min-height: 467px; max-height: 467px; 
		}
		@media only screen and (min-width : 1200px) { 
			min-height: 474px; max-height: 474px; 
		}

		&.slide {
			min-height: 0px; max-height: 2000px;
			.transitionMultiple(
				@duration ease-in-out min-height @duration,
				@duration ease-in-out max-height @duration;);
		}
	}
	article.row {
		width: 100%; left: 0%; max-height: 1700px;
		overflow: hidden;
		position: relative;
		.transitionMultiple(0s linear max-height @duration,
							0s linear width @duration,
							@duration ease-out opacity @duration * 2,
							@duration ease-out left @duration * 2;);
		> div {
			float: left;
		}
		&.slide-left {
			left: -100%;
			opacity: 0;
			max-height: 0px;
			width: 0px;
			.transitionMultiple(@duration ease-in opacity 0s,
								@duration ease-in left 0s, 
								0s linear max-height @duration,
								0s linear width @duration;);
		}
		&.slide-right {
			left: 100%;
			opacity: 0;
			max-height: 0px;
			width: 0px;
			.transitionMultiple(@duration ease-in opacity 0s,
								@duration ease-in left 0s, 
								0s linear max-height @duration,
								0s linear width @duration;);
		}
		h3 {
			@media only screen and (min-width : 768px) {
				margin-top: 0px;
			}
		}
		div.visible-xs.pull-left {
			padding-left: 0px;
		}
		.breakdown {
			margin-top: 8px;
			margin-bottom: 24px;
			@media only screen and (max-width: 768px) {
				display: none;
			}
			canvas {
				width: 100px;
				height: 100px;
				position: absolute;
				top: 0px;
				left: 50%;
				margin-left: -50px;
				margin-top: -12px;
			}
			div {
				position: relative;
				left: 50%;
				margin-left: -38px;
				width: 76px;
				height: 76px;
				background: @lighterGrey;
				.rounded(100%);
				i {
					margin-top: 12px;
					font-size: 2.8em;
					color: silver;
				}
				p {
					font-size: 14px;
					color: silver;
					margin-top: -5px;
					&.php {
						margin-top: -2px;
						font-size: 12px;
					}
				}
			}
		}
		.slide-back {
			color: @lighterGrey;
			.transition(.2s);
			&:hover {
				cursor: pointer;
				color: @black;
			}
		}
		.caption.more {
			text-align: right;
			@media only screen and (min-width: 992px) {
				position: absolute;
				bottom: 0px;
				right: 0px;
			}
		}
		&.rubrix, &.woody, &.hughes {
			> div .thumbnail {
				margin-bottom: 10px;
			}
		}
		.aspect-ratio {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 75%;
			iframe {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0; top: 0;
			}
		}
	}
}
#web-development {
	background: silver;
}
#design {
	background: #81859b;
}
#game-development {
	background: #6fa5b1;
}
.jumbotron {
	margin-bottom: 0px;
}