/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  overflow-x: hidden;
}
a {
  color: #1C3A36;
  font-weight: bold;
}
.jumbotron {
  margin-bottom: 0px;
  background: #1C3A36;
  color: #eee;
  padding-top: 8em;
  padding-bottom: 8em;
  text-align: center;
}
.jumbotron hr {
  width: 30%;
  margin-top: 2em;
  margin-bottom: 2em;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.jumbotron .lead {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  margin-bottom: 1.7em;
}
h2 {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
h2:after {
  display: block;
  width: 14%;
  margin-left: 43%;
  content: " ";
  height: 1px;
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  -webkit-opacity: 0.1;
  opacity: 0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
  filter: alpha(opacity=10);
  margin-top: .75em;
  margin-bottom: -0.75em;
  background: #333333;
}
@media only screen and (max-width: 768px) {
  h3 {
    margin-top: 0px;
  }
}
.thumbnail {
  background: #f9f9f9;
  padding: 0px;
  border-radius: 0px;
  border: none;
  text-align: center;
  display: inline-block;
}
nav.navbar .container,
footer .container {
  padding-bottom: 0px;
}
nav.navbar li a,
footer li a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.container {
  padding-bottom: 45px;
}
.techno-logos {
  width: 160px;
  display: block;
  position: relative;
  left: 50%;
  margin-left: -80px;
  margin-top: 20px;
}
.techno-logos .logo {
  width: 75px;
  height: 75px;
  padding: 5px;
}
.logo {
  text-align: center;
}
.rubrix-logo {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 186px;
  height: 186px;
  padding-top: 32px;
  padding-left: 53px;
  left: 50%;
  margin-top: 0px;
  margin-left: -62px;
  background: #999999;
  -webkit-border-radius: 93px;
  -moz-border-radius: 93px;
  border-radius: 93px;
}
.rubrix-logo .square {
  width: 80px;
  height: 80px;
  display: block;
  background: #333333;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  overflow: hidden;
  position: absolute;
}
.rubrix-logo .square .r {
  color: #fff;
  top: -55px;
  left: 14px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  font-size: 10em;
  font-weight: bold;
}
.rubrix-logo .circle {
  background: #555555;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #999999;
  position: absolute;
  top: 56px;
  left: 34px;
}
.rubrix-logo .rubrix {
  font-weight: bold;
  font-size: 2.5em;
  position: absolute;
  top: 118px;
  left: 40px;
  letter-spacing: -2px;
  color: #333333;
}
.rubrix-logo .rubrix:after {
  content: "TM";
  position: absolute;
  left: 99px;
  font-size: 0.25em;
  letter-spacing: 0px;
  top: 15.5px;
  color: #555555;
}
.rubrix-logo .rubrix-i {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  background: #eeeeee;
  top: 128px;
  left: 111px;
  display: block;
  z-index: 2;
  border: 1px solid #999999;
}
.navbar-fixed-top + .jumbotron {
  margin-top: 50px;
}
.technologies {
  text-align: center;
}
.technologies i {
  font-size: 30px;
}
.technologies .displays {
  position: relative;
  left: 50%;
  height: 33px;
}
.technologies .displays .center {
  width: 84px;
  display: block;
  position: absolute;
  left: -42px;
}
.technologies .displays i {
  position: absolute;
}
.technologies .displays i.desktop {
  font-size: 36px;
  left: 3px;
  top: 0px;
}
.technologies .displays i.mobile-phone {
  font-size: 38px;
  left: 27px;
  top: 5px;
}
.technologies .displays i.mobile-phone:after {
  content: " ";
  display: block;
  background: white;
  width: 12px;
  height: 16px;
  top: 11px;
  left: 2px;
  position: absolute;
}
.technologies .displays i.laptop {
  left: 35px;
  top: 1px;
  font-size: 40px;
}
.slider .slider-nav {
  text-align: center;
}
.slider .slider-nav > div {
  display: block;
}
.slider .slider-nav .thumbnail {
  position: relative;
  width: 300px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .slider .slider-nav .thumbnail {
    width: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .slider .slider-nav .thumbnail {
    height: 340px;
    width: 205px;
  }
}
@media only screen and (min-width: 1200px) {
  .slider .slider-nav .thumbnail {
    width: 255px;
  }
}
.slider div.container {
  min-height: 1810px;
  max-height: 1810px;
  padding-bottom: 30px;
  -webkit-transition: 0.5s ease-in-out min-height 0s, 0.5s ease-in-out max-height 0s;
  -moz-transition: 0.5s ease-in-out min-height 0s, 0.5s ease-in-out max-height 0s;
  -o-transition: 0.5s ease-in-out min-height 0s, 0.5s ease-in-out max-height 0s;
  transition: 0.5s ease-in-out min-height 0s, 0.5s ease-in-out max-height 0s;
}
@media only screen and (min-width: 768px) {
  .slider div.container {
    min-height: 1000px;
    max-height: 1000px;
  }
}
@media only screen and (min-width: 992px) {
  .slider div.container {
    min-height: 560px;
    max-height: 560px;
  }
}
@media only screen and (min-width: 1200px) {
  .slider div.container {
    min-height: 560px;
    max-height: 560px;
  }
}
.slider div.container .slide-back {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  left: -30000px;
  background: #1C3A36;
  border: 1px solid #eeeeee;
  position: absolute;
  -webkit-transition: 0s ease-in-out left 0.5s, 0.5s ease-in-out opacity 0s;
  -moz-transition: 0s ease-in-out left 0.5s, 0.5s ease-in-out opacity 0s;
  -o-transition: 0s ease-in-out left 0.5s, 0.5s ease-in-out opacity 0s;
  transition: 0s ease-in-out left 0.5s, 0.5s ease-in-out opacity 0s;
}
.slider div.container.slide {
  min-height: 0px;
  max-height: 2000px;
  -webkit-transition: 0.5s ease-in-out min-height 0.5s, 0.5s ease-in-out max-height 0.5s;
  -moz-transition: 0.5s ease-in-out min-height 0.5s, 0.5s ease-in-out max-height 0.5s;
  -o-transition: 0.5s ease-in-out min-height 0.5s, 0.5s ease-in-out max-height 0.5s;
  transition: 0.5s ease-in-out min-height 0.5s, 0.5s ease-in-out max-height 0.5s;
}
.slider div.container.slide .slide-back {
  left: 0px;
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
  -webkit-transition: 0s ease-in-out left 0s, 0.5s ease-in-out opacity 1s;
  -moz-transition: 0s ease-in-out left 0s, 0.5s ease-in-out opacity 1s;
  -o-transition: 0s ease-in-out left 0s, 0.5s ease-in-out opacity 1s;
  transition: 0s ease-in-out left 0s, 0.5s ease-in-out opacity 1s;
}
.slider div.container.slide .slide-back:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.slider div.container.slide .slide-back:hover i {
  color: #eeeeee;
}
.slider article.row {
  width: 100%;
  left: 0%;
  max-height: 1700px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0s linear max-height 0.5s, 0s linear width 0.5s, 0.5s ease-out opacity 1s, 0.5s ease-out left 1s;
  -moz-transition: 0s linear max-height 0.5s, 0s linear width 0.5s, 0.5s ease-out opacity 1s, 0.5s ease-out left 1s;
  -o-transition: 0s linear max-height 0.5s, 0s linear width 0.5s, 0.5s ease-out opacity 1s, 0.5s ease-out left 1s;
  transition: 0s linear max-height 0.5s, 0s linear width 0.5s, 0.5s ease-out opacity 1s, 0.5s ease-out left 1s;
}
.slider article.row > div {
  float: left;
}
.slider article.row.slide-left {
  left: -100%;
  opacity: 0;
  max-height: 0px;
  width: 0px;
  -webkit-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  -moz-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  -o-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
}
.slider article.row.slide-right {
  left: 100%;
  opacity: 0;
  max-height: 0px;
  width: 0px;
  -webkit-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  -moz-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  -o-transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
  transition: 0.5s ease-in opacity 0s, 0.5s ease-in left 0s, 0s linear max-height 0.5s, 0s linear width 0.5s;
}
@media only screen and (min-width: 768px) {
  .slider article.row h3 {
    margin-top: 0px;
  }
}
.slider article.row div.visible-xs.pull-left {
  padding-left: 0px;
}
.slider article.row .breakdown {
  margin-top: 8px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .slider article.row .breakdown {
    display: none;
  }
}
.slider article.row .breakdown canvas {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -50px;
  margin-top: -12px;
}
.slider article.row .breakdown div {
  position: relative;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 76px;
  background: #1C3A36;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.slider article.row .breakdown div i {
  margin-top: 12px;
  font-size: 2.8em;
  color: #eeeeee;
}
.slider article.row .breakdown div p {
  font-size: 14px;
  color: #eeeeee;
  margin-top: -5px;
}
.slider article.row .breakdown div p.php {
  margin-top: -2px;
  font-size: 12px;
}
.slider article.row .slide-back {
  color: #eeeeee;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.slider article.row .slide-back:hover {
  cursor: pointer;
  color: #222222;
}
.slider article.row .caption.more {
  text-align: right;
}
@media only screen and (min-width: 992px) {
  .slider article.row .caption.more {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
.slider article.row.rubrix > div .thumbnail,
.slider article.row.woody > div .thumbnail,
.slider article.row.hughes > div .thumbnail {
  margin-bottom: 10px;
}
.slider article.row .aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  margin-bottom: 35px;
}
.slider article.row .aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#web-development {
  background: #eeeeee;
  color: #333333;
}
#design {
  background: #222222;
  color: #999999;
}
#design h2:after {
  background: #eeeeee;
}
#design .slide-back {
  background: #eeeeee;
  color: #1C3A36;
}
#design .slide-back:hover i {
  color: #1C3A36;
}
#game-development {
  background: #eeeeee;
  color: #333333;
}
#work-experience {
  background: #1C3A36;
  color: #eeeeee;
}
#work-experience h2:after {
  background: #eeeeee;
}
#work-experience article.last {
  padding-bottom: 15px;
}
#work-experience article.last:before {
  width: 14%;
  margin-left: 43%;
  height: 1px;
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  -webkit-opacity: 0.1;
  opacity: 0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
  filter: alpha(opacity=10);
  background: #eeeeee;
  margin-top: 30px;
  margin-bottom: 20px;
}
#about {
  background: #eeeeee;
}
#contact {
  background: #333333;
  color: #999999;
  position: relative;
}
#contact h2:after {
  background: #eeeeee;
}
#contact div.container {
  min-height: 530px;
  max-height: 530px;
}
@media only screen and (min-width: 768px) {
  #contact div.container {
    min-height: 450px;
    max-height: 450px;
  }
}
@media only screen and (min-width: 992px) {
  #contact div.container {
    min-height: 450px;
    max-height: 450px;
  }
}
@media only screen and (min-width: 1200px) {
  #contact div.container {
    min-height: 450px;
    max-height: 450px;
  }
}
#contact article.send {
  height: 200px;
}
#contact article.send div {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: absolute;
  margin-top: 32px;
}
#contact article.send .sent {
  opacity: 1;
}
#contact article.send .working {
  opacity: 0;
}
#contact article.send .error {
  opacity: 0;
}
#contact article.send.working .working {
  opacity: 1;
}
#contact article.send.working .sent {
  opacity: 0;
}
#contact article.send.error .sent {
  opacity: 0;
}
#contact article.send.error .error {
  opacity: 1;
}
#contact .loader {
  position: absolute;
  left: 50%;
  margin-left: -33px;
  top: 50%;
  margin-top: -33px;
  display: none;
}
form .form-group {
  text-align: left;
}
form .form-group.text-center {
  text-align: center;
}
form .form-group p.error {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  color: #b94a48;
}
form .form-group.has-error p.error {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
footer {
  background: #222222;
  color: #999999;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .copy {
  padding-top: 8px;
}
footer a {
  margin-left: 10px;
  color: #999;
  font-size: 25px;
}
footer a:hover {
  color: #ccc;
}
#ie {
  background: #d9534f;
  color: #eeeeee;
}
#ie a {
  color: #f0ad4e;
}
#ie p.lead {
  margin-top: -40px;
}
